# Зависимости (игнорируем во всех папках)
node_modules/

# Папки сборок
/frontend/dist/
/frontend/build/
/backend/dist/

# Логи и кэши
npm-debug.log*
.eslintcache


# Переменные окружения
.env
.env.local
.env.*.local

# Сборки
dist/
build/

# Логи
*.log
npm-debug.log*

# IDE
.idea/
.vscode/